.cost-details-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .cost-details-card {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .cost-details-title {
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .cost-details-table {
    width: 100%;
    text-align: right;
    border-collapse: collapse;
  }
  
  .cost-details-table th,
  .cost-details-table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .cost-details-table th {
    background-color: #f1f1f1;
    border-bottom: 2px solid #ddd;
  }
  
  .cost-details-table td {
    background-color: #fff;
  }
  